@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.button{
    padding: 20px;
    width: 60px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(206, 203, 197);
}

.row{
    margin: 8px;
}
.row input{
    width: 266px;
    height: 46px;
    background-color: aqua;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}